@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.Post {
  margin: 12px 0;
  box-shadow: 2px 2px 2px 2px #ccc;
  background: white;
  width: 100%;
}

.Owner {
  margin: 0;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Info {
  display: flex;
  border: 1px solid #888;
  background-color: #ddd;
  border-radius: 8px;
  flex-direction: column;
  padding: 8px;
}

.OwnerImg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.OwnerName {
  color: black;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.OwnerName:hover {
  text-decoration: underline;
}

.ImgContainer {
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: hidden;
}

.Img {
  width: 100%;
  height: auto;
}

.Content {
  margin: 0;
  padding: 16px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
}
